.tab-content {
  margin: 0 10% !important;
  height: 900px;
  box-shadow: 0 0 20px #e3e3e3;
  .ant-tabs-content-holder,
  .ant-tabs-content {
    height: 100%;
  }
  .container {
    box-shadow: 0 0 20px grey;
  }
}
